.chart-container {
  
}

.grid-line .tick line {
  stroke: gray;
  opacity: 0.7;
}

.inflection-point {
  opacity: 0.5;
}

.time-grid {
  opacity: 0.25
}

.time-grid:hover {
  fill: blue;
}

.tooltip {
  background: white;
  border: 1px solid gray;
  color: #333;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  display: block;
  opacity: 0;
}